# Modèles entraînés
cvae_weights.pt
multi_vae_weights.pt

# Données / résultats
clean_swap_data.pkl
ns_results.pkl
trading_results.pkl
vae_results.pkl

results/*

# (optionnel) tous les pickle si tu veux être safe
*.pkl

# (optionnel) tous les poids PyTorch
*.pt

.DS_Store